<app-game-list-filter color="red"></app-game-list-filter>

<div class="cards">
    <div class="cards_list" *ngFor="let game of cards">
        <div class="card">
            <img src="{{ game[2] }}" alt="game">
            <h2>{{ game[0] }}</h2>
            <p>{{ game[1] }}</p>
            <p>Note: {{ game[3] }}</p>
            <p>Description: <i>{{ game[4] }}</i></p>
            <app-game-list-buttons gameName="{{game[0]}}"></app-game-list-buttons>
            <!--
            <button (click)="clicSurBouton(buttons[0],game[0])">Follow</button>
            <button (click)="clicSurBouton(buttons[1],game[0])">Share</button>
            <button (click)="clicSurBouton(buttons[2],game[0])">Buy</button>
            -->
        </div>
    </div>
</div>